*{
    background-color: bisque;
}

h1{
	color: brown;
}


.Major-Heading{
	color: hotpink !important;
}

p.Example {
	font-family: Garamond;
	background-color: red;
}

h3:hover {
	color: blue;
}

h2{
	color: black;
	background-color: red;
}


