*{
    background-color: lavender;
	font-family: Rockwell;
}


#myTitle{
	position: sticky;
	opacity: 90%;
	top: 0px;
	z-index:1;
	
}


.heading h1,.heading h2 {
	color: black;
	background-color:pink;
	text-align: center;
	font-family: Franklin Gothic Medium;
}

.main-text{
	position: relative; 
	bottom:107px;
	left:120px;
	border: 10px solid pink;
}

.body-text p{
	width:200px;
	position:relative;
	bottom:70px;
	background-color:pink;
	padding:20px;
	border: 10px solid white;
}


.my-family p{
	display:inline-block; 
	position:relative;
	bottom:715px;
	width: 200px;
	margin:300px;
	background-color:white;
	padding:20px;
	border: 10px solid pink;
}

.p1 p{
	display: block;
	width: 300px;
	height:0px;
	margin:0px;
}

#read{
	float: right;
}

#blurb p{
   display: inline-block;
   z-index: 0;
   width: 200px;
}

.back{
	position: relative; 
	bottom: 1400px;
}
p{
	font-family: Franklin Gothic Medium;
}

li,ul,ol{
	color:purple;
}

button{
	cursor: pointer; 
	background-color: white;
}


#button1,#button2{
		text-decoration: none; 
		background-color: white;
		color:black;
}




.center, .center th, .center tr{
	border: 10px solid black;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
}

.very-important {
	color: purple;
	font-family: Franklin Gothic Medium;
}


.week, .week th, .week tr{
	border: 5px solid black;
	border-collapse: collapse;
	margin-left:auto;
	margin-right:auto;
}








